
<mat-card *ngIf="name === author">
    <!-- Title of an Card -->
    <mat-card-title>
        Edytuj swoją okazję
    </mat-card-title>

    <mat-card-content>
        <div *ngIf="deal.image && vis===false">
            <img mat-card-image src="assets/images/{{deal.image}}">
        </div>
        <div *ngIf="vis">
            <img mat-card-image [src]="imgurl"> <br />
        </div>
        <form [formGroup]="model" (submit)="updateDeal(deal)" >
         
            <table>
                <tr>
                    <mat-form-field class="demo-full-width" appearance="outline">
                        <mat-label>Nazwa okazji </mat-label>
                        <input matInput maxlength="100" formControlName="name" value={{deal.name}} required>

                    </mat-form-field>
                    <mat-error *ngIf="f.name.touched && f.name.hasError('maxlength')">Nazwa może mieć maksymalnie 100
                        znaków</mat-error>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width" appearance="outline">
                            <mat-label>Opis okazji </mat-label>
                            <textarea value={{deal.description}} matInput matTextareaAutosize matAutosizeMinRows="6"
                                matAutosizeMaxRows="6" formControlName="description" name="dealDesc" required></textarea>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width" appearance="outline">
                            <mat-label>Link </mat-label>
                            <input value={{deal.link}} matInput formControlName="link">
                        </mat-form-field>
                        <mat-error *ngIf="f.link.touched && f.link.hasError('pattern')">Link musi być w dobrym formacie
                            i zaczynać się od www</mat-error>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="demo-full-width" appearance="outline">
                            <mat-label>Cena </mat-label>
                            <input value={{deal.price}} matInput placeholder="Cena" formControlName="price">
                        </mat-form-field>
                        <mat-error *ngIf="f.price.touched && f.price.hasError('pattern')">Cena musi być podana w
                            formacie "xxx,xx zł"</mat-error>
                    </td>
                </tr>
                <tr>
                    <td><br>
                        Aktualna kategoria: {{deal.category.category_name}}
                        <br>
                        <mat-form-field appearance="outline">
                            <mat-label>Kategoria </mat-label>
                            <mat-select name="dealCategory" formControlName="categoryID" required>

                                <mat-option *ngFor="let category of categories" value={{category.categoryID}}>{{category.category_name}}</mat-option>
                            </mat-select>


                        </mat-form-field>
                        <form>
                            <input type="file" mat-raised-button color="accent" (change)="onFileSelected($event)" color="accent"
                                accept="image/x-png,image/jpeg">
                            <button type="reset" (click)="deleteImg()">Usuń obrazek</button>
                            <br /> <br />
                        </form>


                    </td>

                </tr>

                <tr>
                    <td class="content-center">

                        <button type="submit" [disabled]="model.invalid" mat-raised-button color="accent">Dodaj</button>
                        <button type="reset" mat-raised-button color="accent">Wyczyść</button>
                        <button (click)="delete()" mat-raised-button color="accent">Usuń okazję</button>

                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>
<a class="nope" *ngIf="name != author"> Nie masz uprawnień do przeglądania tej strony </a>