.cardList{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left:7%;
  
}
.mat-card {  
  
    width: 250px;        
    height: 300px;  
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;    
    
    
  }
  .mat-card-title{  
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color:rgb(0, 0, 0);
  }
  .mat-card-subtitle{
    text-align: center;
    font-size: 15px;
    font-weight: bold;

  }
  .mat-card-subtitle{
    text-align: center;
    font-size: 15px;
    font-weight: bold;

  }
  .mat-card-content{
    overflow: hidden;
    text-overflow: ellipsis;   
    white-space: nowrap;
   
  }
  .mat-card-footer{
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 1%;
  }
  a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}


a:hover {
    color: rgb(247, 243, 6);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
mat-card img{
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 40%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: auto;
  max-height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 5%;

}
.points{
  font-size: 15px;

  

}
.mat-icon.arrow{
  
  height:40px ;
  width:40px ;
  font-size:40px ;
  
}
