<div class="cardList">
    <mat-card *ngFor="let deal of deals">
        <mat-card-title>        
           
            <a href="/deals/{{deal.dealID}}">{{deal.name}}</a>
            <br />
            <button *ngIf='isLoggedIn && deal.userDTO.username === name' (click)="edit(deal)" mat-button mat-button color="warn">
                <mat-icon class="edit">create icon</mat-icon>
    
            </button> 
        </mat-card-title>

        <img *ngIf="deal.image" mat-card-image src="assets/images/{{deal.image}}">

        <mat-card-subtitle>{{deal.price}} </mat-card-subtitle>
        <mat-card-content>{{deal.description}}</mat-card-content>

        <mat-card-footer>Kategoria: {{deal.category.category_name}}
            <br />
            <a *ngIf="deal.link" href="//{{deal.link}}" target="_blank">Link do okazji</a>
            <br /><br /><br />
            
            <div class="points">Punkty: {{deal.score}}</div>
            <div *ngIf='isLoggedIn && deal.voted != name' class="points">      

                    
                    
                        
                <button (click)="plusScore(deal)" mat-button mat-button color="primary">
                    <mat-icon class="arrow">arrow_drop_up</mat-icon>

                </button>
                <button (click)="minusScore(deal)" mat-button mat-button color="warn">
                    <mat-icon class="arrow">arrow_drop_down</mat-icon>

                </button>
                    
            
            </div>
            <br />
           Autor: {{deal.userDTO.username}}        
         
        </mat-card-footer>
      

    </mat-card>

</div>