

.sidenav {
  width: 1205x;
  background-color: #FFC107;
  font-style:italic ;
  
}

.sidenav .mat-toolbar {
  background: inherit;
  font-size: 23px;
    font-weight: bold;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
 
}
.toolbar{
  background-color: #FFC107;
}
